---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Fake Rubik Store Docs">
	<main class="main bg-raising-black w-full h-full max-w-[1200px] mx-auto ">
		<h1>Fake Rubik Store Docs</h1>
	</main>
</Layout>

