<footer class="footer bg-raising-black flex flex-row justify-between items-center px-4 py-2 text-babyPowder">
  <span>Programando cosas increíbles/Building amazing things</span>
  <span>Julio Rodríguez - 2024</span>
</footer>