---
import Logo from "./Logo.astro";
import Github from "../assets/icons/Github.astro"

---
<nav class="header bg-raising-black w-full h-full flex flex-row justify-between items-center px-4 py-1 text-babyPowder">
  <Logo colorSVG="#FFFFFA" />
  <ul class="flex flex-row max-w-96 h-full justify-around items-center flex-1">
    <li>
      Docs
    </li>
    <li> About </li>
    <li>Ir al proyecto</li>
    <li>
      <a href="https://github.com/KritiusOne/FakeRubikStoreAPI" target="_blank" rel="noopener noreferrer"> <Github /></a>
    </li>
  </ul>
</nav>