---
import Logo from "./Logo.astro";
import Github from "../assets/icons/Github.astro"

---
<nav class="header bg-raising-black w-full h-full flex flex-row justify-between items-center px-4 py-1 text-babyPowder">
  <Logo class="fill-babyPowder w-16">
    <h2 class="text-lg font-bold text-pretty font-sans">Fake Rubik Store</h2>
  </Logo>
  <ul class="flex flex-row max-w-96 h-full justify-around items-center flex-1 font-semibold text-md">
    <li class="text-pretty text-center hover:text-redWood cursor-pointer">
      Docs
    </li>
    <li class="text-pretty text-center hover:text-redWood cursor-pointer"> About </li>
    <li class="text-pretty text-center hover:text-redWood cursor-pointer"> <a href="https://fake-rubik-store-front-end.vercel.app/" target="_blank" rel="noopener noreferrer"> Ir al proyecto </a></li>
    <li class="text-pretty text-center hover:text-redWood cursor-pointer">
      <a href="https://github.com/KritiusOne/FakeRubikStoreAPI" target="_blank" rel="noopener noreferrer"> <Github size="32" colorSVG="#FFFFFA" class="hover:fill-redWood" /></a>
    </li>
  </ul>
</nav>