<aside class="hidden md:flex w-full aside h-full transition-transform" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-redWood">
     <ul class="space-y-2 font-medium">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nisi aliquam tenetur laboriosam, neque cum cumque architecto voluptas. Distinctio a dolorem porro quam ratione mollitia dolor placeat hic tempora eligendi?</li>
        <li>algo</li>
        <li>algo</li>
        <li>algo</li>
     </ul>
  </div>
</aside>